*{
    font-family: "roboto";
    background-color: whitesmoke;
}
#navbar{
    display: flex;
    color:white;
    justify-content: space-between;

}
#search_input{
    border: 1px solid rgb(56, 2, 59);
    display: flex;
    gap: 10px;
    width: 80%;
    height: auto;
    border-radius: 5px;
    color: black;
    font-size: 25px;
} 
#sidebar{
    width: 15%;
    padding: 10px;
    height: 60%;
    background-color: rgb(134, 190, 240);
}
#sidebar h2{
    color: black;
    font-size: xx-large;
}
#sidebar h3{
    color: rgb(26, 16, 16);
    font-size: 20px;
}